	@Override
	public RETURN_TYPE METHOD_NAME() {
        try {
            return twyn.proxy(jsonNode.get("FIELD_NAME"), RETURN_TYPE.class);
        } catch (NullPointerException e) {
            throw e;
        } catch (Exception e) {
            throw new RuntimeException(e);
        }
    }