	@Override
	public RETURN_TYPE METHOD_NAME() {
		return cache.get("FIELD_NAME", () -> {
			try {
				List<COMPONENT_TYPE> result = collect(COMPONENT_TYPE.class, jsonNode.get(FIELD_ID), PARALLEL, Collectors.toList());
				return result.toArray((COMPONENT_TYPE[]) Array.newInstance(COMPONENT_TYPE.class, result.size()));
			} catch (RuntimeException e) {
				throw e;
			} catch (Exception e) {
				throw new RuntimeException(e);
			}
		});
	}