	@Override
	public Set<COMPONENT_TYPE> METHOD_NAME() {
		return cache.get("FIELD_NAME", () -> {
			try {
				JsonNode node = jsonNode.get(FIELD_ID);
				Require.that(node.isArray(), ErrorFactory.proxyCollectionJsonNotArrayType("DECLARING_CLASS.METHOD_NAME", COMPONENT_TYPE.class.getSimpleName(), jsonNode));
				return collect(COMPONENT_TYPE.class, node, Collectors.toSet());
			} catch (RuntimeException e) {
				throw e;
			} catch (Exception e) {
				throw new RuntimeException(e);
			}
		});
	}