	@Override
	public RETURN_TYPE METHOD_NAME() {
		return cache.get("FIELD_NAME", () -> {
			try {
				return twyn.readValue(jsonNode.get(FIELD_ID), RETURN_TYPE.class);
			} catch (NullPointerException e) {
				throw new se.jsa.twyn.NoSuchJsonNodeException("Could not resolve json node matching method=" 
						+ "METHOD_NAME(). Current json fragment=" + jsonNode);
			} catch (Exception e) {
				throw new RuntimeException(e);
			}
		});
	}