	@Override
	public RETURN_TYPE METHOD_NAME() {
		return cache.get("" + FIELD_ID, () -> {
			try {
				JsonNode node = resolve(jsonNode, FIELD_ID);
				return node == null
					? NULL_RETURN
					: Optional.ofNullable(twyn.readValue(node, RETURN_TYPE.class)).orElseGet(() -> NULL_RETURN);
			} catch (RuntimeException e) {
				throw e;
			} catch (Exception e) {
				throw new RuntimeException(e);
			}
		});
	}