	@Override
	public RETURN_TYPE METHOD_NAME() {
		return cache.get("FIELD_NAME", () -> {
			try {
				JsonNode node = jsonNode.get(FIELD_ID);
				Require.notNull(node, ErrorFactory.couldNotResolveTargetNode("DECLARING_CLASS.METHOD_NAME", RETURN_TYPE.class.getSimpleName(), jsonNode));
				return twyn.readValue(node, RETURN_TYPE.class);
			} catch (RuntimeException e) {
				throw e;
			} catch (Exception e) {
				throw new RuntimeException(e);
			}
		});
	}