	@Override
	public List<COMPONENT_TYPE> METHOD_NAME() {
		return cache.get("METHOD_NAME", () -> {
			try {
				return collect(COMPONENT_TYPE.class, jsonNode.get("FIELD_NAME"), PARALLEL, Collectors.toList());
			} catch (NullPointerException e) {
				throw e;
			} catch (Exception e) {
				throw new RuntimeException(e);
			}
		});
	}